# IntelliJ IDEA
.idea/
*.iml

# Maven build output
target/

# Minecraft plugin build artifacts
*.jar

# Logfiles
logs/
*.log

# OS generierte Dateien
.DS_Store
Thumbs.db

# Server-spezifisches
plugins/
world/
world_nether/
world_the_end/
eula.txt
server.properties
run/
